services/qdrant/Dockerfile.bak
services/docker-compose.yml.bak
patch-qdrant.sh
services/vault/tls/vault.crt
services/vault/tls/vault.key
services/vault/tls/ca.crt
redis_password.txt
services/secrets/grafana_admin_password.txt
services/secrets/mongo_root_password.txt
certs/ca.crt
certs/ca.key
certs/ca.srl
certs/vault.crt
certs/vault.csr
certs/vault.ext
certs/vault.key
uv.lock
src/synapticore.egg-info/dependency_links.txt
src/synapticore.egg-info/PKG-INFO
src/synapticore.egg-info/requires.txt
src/synapticore.egg-info/SOURCES.txt
src/synapticore.egg-info/top_level.txt
